<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/software/polkit/policyconfig-1.0.dtd">
<policyconfig>

  <action id="org.tuxprotect.restart">
    <message>Authentication is required to restart the Tux Protect service</message>
    <message xml:lang="he">נדרש אימות כדי לאתחל את שירות Tux Protect</message>
    <icon_name>dialog-password</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/bin/systemctl</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">restart</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv2">tuxprotect.service</annotate>
  </action>

</policyconfig>
